<nav class="menu">
    <a href="@Url.Action("Index","Blue", new { area = "Blue" })">Blue</a>
    <a href="@Url.Action("Index","Red", new { area = "Red" })">Red</a>
    <a href="@Url.Action("Index","Yellow", new { area = "Yellow" })">Yellow</a>
</nav>